body {
    font-family: "adobe-jenson-pro", serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #553a59;
    padding: 1rem 10px;
}

header span {
    color: #e8ddc9;
    font-size: 1.6rem;
    font-weight: 700;

}

/* navigation stuff here */

nav {
    background-color: #e8ddc9;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #553a59;
    font-weight: 700;
}

nav li.active a {
    background-color: #553a59;
    color: #e8ddc9
}

nav li a:hover {
    color: #e9b57c;
}

/* main stuff here */

main {
    padding: 1rem 10px
}

main h1 {
    color: #553a59;
}

main h2 {
    color: #553a59;
    margin-bottom: .2rem;
}
main h3 {
    color:#553a59
}
main p {
    margin: 0;
    color: #334;
}

main ol {
    color: #334;
    font-size: .9rem;
    
}

main dl dt {
    color: #e99b3e;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #8b5f92;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    color: #334;

}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

ol li {
    margin-bottom: 10px;
}
main strong {
    font-weight: 700;
    color: #334;
}
main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    font-size: .7rem;
    background-color: #e8d7f1;
    padding: .5rem;
    border-radius: 10px;
    border: 3px solid #e8ddc9;
    width: 200px;
}
main a {
    color:#e99b3e;
    text-decoration: none;

}
main a:hover{
    color:#553a59;
    text-decoration: underline;
}

/* footer stuff here */

footer {
    background-color: #553a59;
    text-align: center;
    padding: 1rem;


}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #e8ddc9;
    letter-spacing: 2.5px;

}